<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snap | About</title>
    <link href="./../static/css/layout.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body class="about-main-body">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <div class="back-button-about">
        <a  style="border:none" href="{{ url_for('home')}} "><button class="back-button" >&#8249;</button></a>  
    </div>

    <div class="absolute-profile-container">
        
            <img src="https://avatars0.githubusercontent.com/u/42827589?s=460&v=4" alt="---O-O----">
            <p>This is minimilistic blog website buld using python flask framework, you can checkout ripository on my github</p>
            <p>
               GitHub :<a href="https://github.com/UnHired-Coder">UnHired-Coder</a></p>
            <p>
               Linkedin :<a href="https://www.linkedin.com/in/pratyush-tiwari-9aa143174/">Pratyush Tiwari</a></p>

    </div>

    <div class="paralax-scroll"> </div>

</body>

</html>