<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snap | Profile </title>
    <link href="./../static/css/layout.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <a style="border:none" href="{{ url_for('home')}}"><button class="back-button" >&#8249;</button></a>  
 
    <div class="profile-container">
               
        <div class="profile-details-block">

            <div class="profile-image-container">

                {% if current_user.image_url %}
                <img src="{{current_user.image_url}}">
                {% else %}
                <img src=" static/profile_pics/{{ current_user.image_file }} ">
                {% endif %}
                <!-- <div class="profile-name-block"></div> -->
                <h1>{{ current_user.username }}</h1>
            </div>
        </div>

       

        <div class="profile-content-block">

            <ul>
                <li>
                    <p>
                        <span>Email: </span>{{current_user.email}}
                    </p>
                </li>

                <li>
                    <p>
                        <span>Bio: </span>{{current_user.bio}}
                    </p>
                </li>
                <li>
                    <p>
                        <span>Followers: </span>{{current_user.following_by_count(current_user.id)}}
                    </p>
                </li>
                <li>
                    <p>
                        <span>Following: </span>{{current_user.following_to_count(current_user.id)}}
                    </p>
                </li>
                <li>
                    <p>
                        <span>Link: </span><a href="{{current_user.Link_facebook}}">{{current_user.Link_facebook}}</a>
                    </p>
                </li>
            </ul>
        </div>

    </div>
     
    <div class="space-block"></div>

    <div class="update-profile-block">
        <form method="POST" id="form" enctype="multipart/form-data">

            <!-- <button id="closebutton" class="button" onclick="closeForm()">Close</button> -->
            {{ form.hidden_tag() }}

            <fieldset>

                <legend>Account Info</legend>
                <div class="content-section">
                    <div class="update-form-group">
                        {{ form.username.label(class="update-form-label") }}:
                        {% if form.username.errors %}
                        {{ form.username(class="update-form-input")}}:

                        <div>

                            {% for error in form.username.errors %}

                            <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                        {% else %}

                        {{ form.username(class="update-form-input")}}

                        {% endif %}

                    </div>



                    <div class="update-form-group">

                        {{ form.email.label(class="update-form-label") }}:

                        {% if form.email.errors %}

                        {{ form.email(class="update-form-input") }}

                        <div>

                            {% for error in form.email.errors %}

                            <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                        {% else %}

                        {{ form.email(class="update-form-input") }}

                        {% endif %}

                    </div>
                    <div class="update-form-group">

                        {{ form.bio.label(class="update-form-label") }}:

                        {% if form.bio.errors %}

                        {{ form.bio(class="update-form-input") }}

                        <div>

                            {% for error in form.bio.errors %}

                            <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                        {% else %}

                        {{ form.bio(class="update-form-input") }}

                        {% endif %}

                    </div>
                    <div class="update-form-group">

                        {{ form.link.label(class="update-form-label") }}:

                        {% if form.link.errors %}

                        {{ form.link(class="update-form-input") }}

                        <div>

                            {% for error in form.link.errors %}

                            <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                        {% else %}

                        {{ form.link(class="update-form-input") }}

                        {% endif %}

                    </div>




                    <div class="update-form-group-picture">

                        {{ form.picture.label(class="update-form-picture") }}

                       <div class="hidden" hidden>
                        {{ form.picture(class="update-form-input") }}

                        {% if form.picture.errors %}

                        {% for error in form.picture.errors %}

                        <span>{{ error }}</span>

                        {% endfor %}

                        {% endif%}
                       </div>
                    </div>




                    <div class="update-form-group">

                        {{ form.submit(class = "form-submit-button") }}

                    </div>

                </div>


            </fieldset>

        </form>

    </div>
    </div>

</body>

</html>