<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snap | User Acount</title>

    <link href="./../static/css/layout.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <a style="border:none" href="{{ url_for('home')}}"><button class="back-button">&#8249;</button></a>

    <div class="profile-container">

        <div class="profile-details-block">

            <div class="profile-image-container">
                
                {% if post.author.image_url %}
                <img src="{{post.author.image_url}}">
                {% else %}
                <img src="./../static/profile_pics/{{post.author.image_file}}">
                {% endif %}
                <!-- <div class="profile-name-block"></div> -->
                <h1>{{ post.author.username }}</h1>
            </div>
        </div>



        <div class="profile-content-block">

            <ul>
                <li>
                    <p>
                        <span>Email: </span>{{post.author.email}}
                    </p>
                </li>

                <li>
                    <p>
                        <span>Bio: </span>{{post.author.bio}}
                    </p>
                </li>
                <li>
                    <p>
                        <span>Followers: </span>{{post.author.following_by.count()}}
                    </p>
                </li>
                <li>
                    <p>
                        <span>Following: </span>{{post.author.following_to.count()}}
                    </p>
                </li>
                <li>
                    <p>
                        <span>Link: </span><a href="{{post.author.Link_facebook}}">{{post.author.Link_facebook}}</a>
                    </p>
                </li>
            </ul>
        </div>

    </div>

    <div class="space-block"></div>

</body>

</html>