body {
    background-color: white;
    text-align: center;
    margin: 20px 20px;
    padding: 20px 20px;
}


.login-form {
    text-align: center;
    display: block;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 300px;
    margin: auto auto;
}

.login-form form {
    text-align: center;
    padding: 40px 40px;
}

.login-form form legend {
    display: block;
    margin: 10px 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.buttons-secondary {
    margin-top: 100px;
}

.buttons-secondary a {
    text-decoration: none;

}

.buttons-secondary a p {
    text-decoration: none;
    color: blue;
    margin: 5px 5px;
    font-size: 16px;
    display: block;
}

.input-field {
    background-color: white;
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    padding-left: 10px;
    margin: 5px 5px;
    align-self: center;
    display: block;
}

.submit-field {
    background-color: brown;
    height: 40px;
    width: 70px;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 5px;
    margin: auto 60px;
    margin-top: 100px;
    outline: none !important;
    transform: scale(1.0);
    transition-duration: 0.5s;
}

.submit-field:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}




.nav-bar {
    max-height: 100px;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 2px darkgrey;
}

.nav-section-0 {
    display: inline-block;
    width: 30%;
    padding: 20px 20px;
}

.search-container {
    float: right;
    margin-right: 100px;
    width: 300px;
}

.input-white {
    background-color: rgb(225, 229, 248);
    height: 30px;
    width: auto;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    padding-left: 10px;
    margin: 5px 5px;
    align-self: center;
    display: inline-block;
}

.input-white:focus {
    border: none;
}

.button-white {
    display: inline-block;
    background-color: white;
    height: 40px;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 10px 10px;
    outline: none !important;
    box-shadow: 10px 10px 10px burlywood;
    transform: scale(1.0);
    transition-duration: 0.2s;
}

.button-white:hover {
    transform: scale(1.06);
    transition-duration: 0.2s;
}




.nav-section-1 {
    float: right;
    /* display: inline-block; */
    width: 30%;
    padding: 1px;
}



.nav-section-1-list {
    list-style: none;
    display: inline-block;
}



.nav-section-1-list li {
    display: inline-block;
}



.register-form {
    text-align: center;
    display: block;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 300px;
    margin: auto auto;
}

.register-form form {
    text-align: center;
    padding: 40px 40px;
}

.register-form form legend {
    display: block;
    margin: 10px 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}



.post-button {
    display: inline-block;
    background-color: white;
    height: 40px;
    border: none;
    color: black;
    border-radius: 8px;
    padding: 8px 8px;
    margin: 2px 2px;
    outline: none !important;
    box-shadow: 5px 5px 5px rgb(195, 197, 197);
    transform: scale(1.0);
    transition-duration: 0.2s;
}

.post-button:hover {
    transform: scale(1.06);
    transition-duration: 0.2s;
}


.main-section {
    width: 100%;
    text-align: center;
}

.post {
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
}

.posts-container {
    text-align: center;
    background-color: whitesmoke;
    padding: 8px 8px;
    width: 600px;
    display: inline-block;
    box-shadow: 2px 2px 2px gray;
}


.post-author {
    display: block;
    width: 100%;
    float: left;
    border: 4px none black;
}

.post-author a {
    text-decoration: none;
}

.post-author img {
    text-decoration: none;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 5px 5px;
    border-color: 4px inset brown;
}

.post-author a p {
    color: brown;
    float: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 2px 2px;
    vertical-align: bottom;
}

.post-author p {
    float: left;
    font-size: 16px;
    color: burlywood;
    font-weight: bold;
    margin: 5px 5px;
    vertical-align: bottom;
}

.post-content {
    color: darkgray;
}


.post-title {
    color: burlywood;
    font-size: 20px;
    font-family: 'Concert One', cursive;
    margin: 10px 10px;
    max-height: 100px;
    text-overflow: ellipsis;
    display: inline-block;
}

.post-text {
    float: left;
    width: 100%;
}

.follow-block {
    float: right;
    width: 20%;
}


.post-image-block {
    display: block;
    background-color: rgb(200, 228, 228);
    margin: 5px 5px;
    margin: 15px 15px;
    width: auto;
    text-align: center;
}

.post-content-text {
    display: block;
    text-align: justify;
    font-size: 16px;
    font-family: 'Shadows Into Light', cursive;
    color: black;
    width: auto;
    max-height: 200px;
}

.post-content-text p {
    text-align: justify;
    text-overflow: ellipsis;
}


.post-bottom {
    padding: 2px 2px;
    box-shadow: 1px 1px 1px darkgrey;
    display: block;
    margin: 4px 4px;
    margin-bottom: 20px;
    height: 100px;
}

.like-block {
    width: 80px;
    float: left;
    margin: 2px 2px;
    padding: 2px 2px;
}

.like-block div p {
    font-size: 16px;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: left;
}

.like-block p {
    float: left;
    font-size: 16px;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.like-button-block {
    width: 120px;
    float: left;
    padding: 5px 5px;
    margin: 5px 5px;
}

.like-button-block button {
    float: left;
    background-color: white;
    height: 40px;
    border: none;
    color: black;
    border-radius: 8px;
    padding: 8px 8px;
    margin: 2px 2px;
    outline: none !important;
    box-shadow: 5px 5px 5px rgb(195, 197, 197);
    transform: scale(1.0);
    transition-duration: 0.2s;
    width: 100px;
}

.comment-field-block {
    display: block;
    height: 60px;
}

.comment-field-block input {
    background-color: rgb(206, 250, 252);
    height: 30px;
    width: 250px;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    padding-left: 10px;
    margin: 5px 5px;
    align-self: center;
    display: inline-block;
}

.comment-field-block button {
    background-color: white;
    height: 30px;
    border: none;
    color: black;
    border-radius: 8px;
    padding: 8px 8px;
    margin: 2px 2px;
    outline: none !important;
    box-shadow: 1px 1px 1px rgb(195, 197, 197);
    transform: scale(1.0);
    transition-duration: 0.2s;
    width: 100px;
}

.comments-block {
    max-height: 200px;
    display: block;
    padding-top: 20px;
    overflow: scroll;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    scrollbar-width: 10px;

}

.comments-block::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.comments-block::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
}

.comments-block::-webkit-scrollbar-thumb {
    background-color: grey;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid white;
    /* creates padding around scroll thumb */
}

.comments-block {
    text-align: left;
    padding: 4px 4px;
    margin: 4px 4px;
}

.comment_holder {
    margin: 2px 2px;
    padding: 2px 4px;
    box-shadow: 1px 1px 4px 1px lightgray;
}

.comment_holder p {
    display: inline-block;
    width: auto;
    font-size: 15px;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.comment_holder :first-child {
    font-size: 18px;
    font-weight: bold;
    color: brown;
}


.create-post-container {
    text-align: center;
    padding: 10px 10px;
    max-width: 100%;
}

.form-container {
    padding: 10px 10px;
    margin: auto auto;
    max-width: 50%;
    background-color: white;
    box-shadow: 1px 1px 4px 1px lightgray;
    border-radius: 20px;
}

.post-head h1 {
    display: block;
    width: auto;
    font-size: 35px;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.post-form-title {
    background-color: white;
    min-height: 40px;
}

.post-form-title-text {
    display: block;
    width: auto;
    font-size: 25px;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.post-form-field-input {
    background-color: aliceblue;
    height: 60px;
    width: 80%;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    padding-left: 10px;
    margin: 50px 5px;
    align-self: center;
}

.post-content {
    height: 250px;
    max-width: 80%;
    max-height: 300px;
    min-height: 150px;
    min-width: 80%;
}

.tag-container {
    max-width: 50%;
    margin: auto auto;
}

.post-form-title-tag {
    display: inline-block;
    font-size: 25px;
    color: brown;
    margin: 20px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.post-tag-chosser {
    display: inline-block;
}

.form-submit-button {
    background-color: brown;
    height: 40px;
    width: 70px;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 5px;
    margin: auto 60px;
    margin-top: 100px;
    margin-bottom: 80px;
    outline: none !important;
    transform: scale(1.0);
    transition-duration: 0.5s;
}

.form-submit-button:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.tag-container {
    height: 150px;
}

.post-tag-chosser {
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    width: 50%;
    color: #60666d;
    border: none;
    background-color: aliceblue;
    padding: 5px 5px;

    @media (min-width: 768px) {
        width: 70%;
    }

    @media (min-width: 992px) {
        width: 50%;
    }

    @media (min-width: 1200px) {
        width: 30%;
    }


}


.picture-chooser::-webkit-file-upload-button {
    visibility: hidden;
}

.picture-chooser::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.picture-chooser:hover::before {
    border-color: black;
}

.picture-chooser:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.post-form-title-file {
    padding: 20px 20px;
    border-radius: 10dp;
    background-color: white;
    color: brown;
    font-size: 20px;
    text-align: center;
}

.profile-container {
    display: block;
    width: 100%;
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: white;

}

.profile-details-block {
    display: block;
    max-width: 40%;
    margin: auto auto;
    padding: 10px 10px;
    border-radius: 20px;
}

.profile-image-container {
    float: left;
    text-align: center;
    border-radius: 20px;
    width: 300px;
    height: 300px;
}

.profile-image-container img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto auto;
}

.profile-name-block {
    display: inline-block;
    font-size: 40px;
    color: brown;
    margin: 20px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-content-block {
    display: inline-block;
    background-color: white;
    padding: 10ps 10px;
}


.profile-content-block ul {
    list-style: none;
    margin: 5px 5px;
    text-align: left;
}



.profile-content-block ul li {
    margin: 5px 5px;
    font-size: 30px;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.profile-content-block ul li p span {
    margin: 5px 5px;
    font-size: 25px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.space-block {
    width: 100%;
    height: 300px;
    background-color: white;
}

.update-profile-block {
    display: block;
    width: 40%;
    margin: auto auto;
}


.update-profile-block fieldset {
    font-size: 20px;
    color: darkcyan;
}


.update-profile-block fieldset legend {
    font-size: 40px;
    color: darkcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.update-form-group {
    padding: 10px 10px;
    margin: 10px 10px;
    text-align: center;
    height: 100px;
    font-size: 25px;
    text-align: left;
}

.content-section {
    margin: 10px 10px;
    padding: 10px 10px;
}

.update-form-input {
    background-color: aliceblue;
    height: 60px;
    width: 60%;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    padding-left: 10px;
    margin: 50px 5px;
    align-self: center;
}

.update-form-group-picture {
    padding: 10px 10px;
    margin: 10px 10px;
    margin-top: 100px;
    text-align: center;
    height: 50px;
    font-size: 25px;
    background-color: lightcyan;
    border-radius: 20px;
}

.update-form-picture {
    margin: 20px 20px;
    padding: 20px 20px;
    height: 100px;
    margin-top: 100px;
    text-align: center;
    color: brown;
    font-weight: bold;
    font-size: 20px;
}

.back-button {
    float: left;
    height: 60px;
    width: 60px;
    background-color: lightcyan;
    text-align: center;
    border: none;
    color: brown;
    font-size: 40px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px gray;
}

.back-button:focus {
    outline: 0 !important;
    transform: scale(1.0);
    transition-duration: 0.3s;
}

.back-button:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.about-main-body{

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.paralax-scroll{
    background-image: url("https://images.unsplash.com/photo-1518112166137-85f9979a43aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
    min-height: 4000px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-main-body img{
    width: 100%;
    height: 100%;
    margin: 0;
}

.absolute-profile-container{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    /* background-color: rgb(117, 32, 32); */
    color: white;
}


.absolute-profile-container img{

    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.absolute-profile-container :nth-child(2){
    max-width: 40%;
    margin: auto auto;
    text-align: center;
    margin-top: 80px;
}
.absolute-profile-container p a{
color: aquamarine;
}

.back-button-about{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 10%;
    font-size: 18px;
}